### Question 1

In [1]:
2+5 #This expression returns 7. It is the sum of 2 and 5.

7

In [2]:
2 + 5 #This expression also returns 7. It is still just the sum of 2 and 5, the spaces don't matter.

7

In [3]:
2*5 #This expression returns 10. It is the product of 2 and 5.

10

In [5]:
2/5 #This expression returns 0.4. It is the quotient of 2 divided by 5

0.4

In [6]:
2**5 #This expression returns 32. This expression is saying 2 to the power of 5, or 2^5.

32

### Question 2

In [9]:
x = 7
x = x + 3 #x will now equal 10. The new value of x will be the old value of x (7) plus 3.

### Question 3

In [13]:
x = 3
y = x
x = 10
#The value of y after running these statements is 3. This is because when y is assigned the value of x, x = 3. When x is reassigned the value of 10 y's value is not retroactively changed.
#The value of x after running these statements is 10. This is because the last statement assigns x a value of 10.

### Question 4

In [14]:
x=3
x=x/2
y='abc'
z=y+y
print(x,z)
#This code runs without error. It returns 1.5, which is the value of x, then on the same line it returns abcabc, which is the value of z. z equals abcabc becasue the y + y strings can be concatinated together.

1.5 abcabc

### Question 5

In [18]:
x=3
x=x/2
y='abc'
z=x+y
print(x,z)
#This code does not run. z requires the sum of a float and string which cannot be done.

### Question 6

In [21]:
x = 3
y = 24
z = y / x
print(x,y,z, sep=' | ')
#This code runs. It returns 3 | 24 | 8.0. The 3 is the value of x, the 24 is the value of y, the 8.0 is the value of z, the vertical line characters are the seperators identified in the print statement.

3 | 24 | 8.0

### Question 7

In [23]:
x = 3
y = '24'
z = y / x
print(x, z)
#This code does not run. z requires the sum of an integer and a string, which cannot be done.

### Question 8

In [24]:
x = "I am a #string" #Whoa, a string!
#This code does run without error. Nothing is printed. x is the string, I am a #string. The, Whoa, a string!, is a comment.

### Question 9

In [27]:
x = [1, 2, 3]
y = [42, 43]
z = x + y
print(z)
#This code does run. When x and y are summed to create z y is added on the end of x. This works because the two are both lists.

[1, 2, 3, 42, 43]

### Question 10

In [29]:
x = [1, 2, 3]
y = 42
z = x + y
#This code does not run. The integer can not be added on to a list, if the value was to be added on the end it would need to be appended.

### Question 11

In [30]:
x1 = 12 # integer
x2 = 12.0 # float
x3 = '12.0' # string
x4 = [12] # list
x5 = [12, 12.0, '12.0'] # list

### Question 12

In [45]:
type(42) # returns int becasue 42 is an integer
type(42.0) # returns float because of the decimal in 42.0 makes it a floating point number
type('42.0') #returns string because of the quotations
type("42.0") # also returns string. Python doesn't distinguish between single and double quotes.
type("""42.0""") # this is still a string
type([1, 2]) # returns list because the brackets signify a list.
type([1]+[2]) # returns list because the two lists when combined are still a list object.
type(1 + 2) # returns type int because two integers added together would still be an integer
type(print) # returns builtin_function_or_method because the print function is a function

builtin_function_or_method

### Question 13

In [46]:
type(float(str(int('1234'))))# returns type float because the string 1234 is altered to an integer then a string then finally to a float before the type function is called.

float

### Question 14

In [48]:
type(int(float('12.34'))) # returns int because the int function will make the 12.34 into the integer 12.

int

### Question 15

In [56]:
len([1234]) #returns 1 because the length of the array is only one value which is 1,234
len("1234") #returns 4 because the string is made up of 4 characters
len(1234) # returns an error message because integers have no length

4

### Question 16

In [59]:
x=[] # type is list. Length is 0

### Question 17

In [60]:
x = 'abcde'
x=list(x)
print(x)
# x is returned as a list with 5 individual values. ['a', 'b', 'c', 'd', 'e']

['a', 'b', 'c', 'd', 'e']

### Question 18

In [65]:
x = 1234
x=float(x)
x=str(x)
x=list(x)
x.remove('.')
x.remove('0')
print(x)

['1', '2', '3', '4']

### Question 19

In [70]:
x = 'luke, i am your father'
x=x.title()
print(x)

Luke, I Am Your Father

### Question 20

In [84]:
x = "How many characters and words are in this string?"
character_count=len(x)
print("There are " + str(character_count) + " characters.")
list_of_chars=list(x)
print(list_of_chars)
words=x.split(" ")
word_count=len(words)
print(words)
print("There are " + str(word_count)+ " words.")

There are 49 characters.
['H', 'o', 'w', ' ', 'm', 'a', 'n', 'y', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's', ' ', 'a', 'n', 'd', ' ', 'w', 'o', 'r', 'd', 's', ' ', 'a', 'r', 'e', ' ', 'i', 'n', ' ', 't', 'h', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', '?']
['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']
There are 9 words.

### Question 21

In [24]:
import csv #necessary to work on the csv file
 
with open('time_for_practice1.csv', 'w') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow([120])
#used to open the file time_for_practice1 in the write format as a csv file. delimiter is what seperates each value. the last line is what is actually written in the file.

In [25]:
import csv #necessary to work on the csv file
 
with open('time_for_practice1.csv', 'r') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    for row in reader:
        print(row)
#wrote this to test the file and confirm the ouput would be 120 minutes.

['120']