## Question 1

In [1]:
x=[1,2,3]
y='bootcamp'
z= x + y  #This does not run without error because a list cannot be added to a string.

TypeError: can only concatenate list (not "str") to list

## Question 2

In [4]:
type(x) #returns the type that x is

list

In [8]:
type(y) #returns the type that y is

str

In [6]:
len(x) #returns how many elements are in the list x

3

In [9]:
len(y) #returns how many characters are in the string y

8

## Question 3

In [10]:
type(2) #type is integer

int

In [11]:
type('2') #type is string because of the quotes

str

In [12]:
type(2.0) #type is float because of the decimal

float

In [13]:
type("2.0") #type is string because of the quotes

str

In [14]:
type(2>1)#type is boolean because the expression either returns true or false

bool

In [15]:
type('Itamar'>'Chase') #type is boolean because the expressino either returns True or Falso

bool

In [17]:
type([1,2]) #type is list because the square brackets signify a list

list

In [22]:
type((1,2)) #type is tuple because the round brackets signify the creation of a tuple

tuple

In [21]:
type({1: 'one', 2: 'two'}) #type is dictionary because the curly brackets signify the creation of a dictionary. The dictionary receives 1 and 2 and returns 'one' and 'two'.

dict

## Question 4

In [23]:
1>=0 #value returned is true because 1 is greater than 0

True

In [24]:
1>=1 #value returned is true because 1 is equal to 1

True

In [26]:
1>1 #value returned is false because 1 is not greater than 1

False

In [27]:
1==1 #value returned is true because 1 equals 1

True

In [29]:
1==1.0 #value returned is true because the type does not matter

True

In [31]:
'Spencer'=="Spencer" #value returned is true because single quotes is read as the same as double quotes in python.

True

In [32]:
2**3 > 3**2 #value returned is false because 8 is less than 9

False

In [34]:
1>= 0 or 1<=2 #returns True because 1 is greater than 0, so even if 1 wasn't less than 2 it still returns True.

True

In [35]:
1>=0 and 1<=2 #returns True because 1 is greater than 0 and 1 is less than 2.

True

## Question 5

In [42]:
if 2>1
    print('Yes, 2 is still greater than 1') #This does not run without error because the statement after the if needs to end with a colon.

SyntaxError: invalid syntax (<ipython-input-42-1385f3e69f3c>, line 1)

## Question 6

In [43]:
if True:
    print('on the one hand')
else:
    print('but on the other hand') # This returns on the one hand becasue the default return is True.

on the one hand

In [44]:
if False:
    print('on the one hand')
else:
    print('but on the other hand') # This returns but on the other hand because the default is True, so the if statement is False which triggers the else.

but on the other hand

In [45]:
if not True:
    print('on the one hand')
else:
    print('but on the other hand') # This returns but on the other hand because the default is True which means the if not True is False which triggers the else.

but on the other hand

## Question 7

In [47]:
cond = True
if cond:
    x = "Chase"
else:
    x="Dave"
print(x) # This prints Chase because the cond is True which makes x equal Chase then prints x

Chase

## Question 8

In [48]:
x= [1, 2, 3, 4]
y=['x','y','z']

In [50]:
if len(x)>len(y):
    print('x has more')
else:
    print("y has at least as many") # This is checkin the length of both x and y and comparing the two to see which one has more characters and returning the correct value.

x has more

## Question 9

In [51]:
a='ABCDE'

In [54]:
#Slicing breaks the list into pieces and returns only the values that are sliced to return
a[1:3] #This slicing will return the second and third values because the first value is read as value 0 then the last value would be the three, but slicing is exclusive on the high end.

'BC'

## Question 10

In [55]:
x=[1,2,3,4,5]

In [56]:
x[0] # returns the first element of the list

1

In [58]:
x[4] # returns the last element of this list. If you want to return the last value of any list could change to x[-1]

5

In [59]:
x[0:4] #returns the first 4 values of the list.

[1, 2, 3, 4]

## Question 11

In [63]:
sentence = 'This is a sentence; please slice it.'

In [64]:
sentence[0:4]

'This'

In [65]:
sentence[5:7]

'is'

In [67]:
sentence[8]

'a'

In [68]:
sentence[10:18]

'sentence'

In [70]:
sentence[20:27]

'please '

In [72]:
sentence[27:32]

'slice'

In [75]:
sentence[32:35] # Each of these slices the sentence by the caharacters in it

' it'

## Question 12

In [76]:
x = [1,2,"a",'b',"fast",'slow',3,"Raghu",'Liuren',10]

In [77]:
x[0] #slices out first item

1

In [78]:
x[9]

10

In [80]:
x[3:7]

['b', 'fast', 'slow', 3]

## Question 13

In [81]:
for i in range(len(x)):
    print(x[i])

1
2
a
b
fast
slow
3
Raghu
Liuren
10

## Question 14

In [83]:
for i in range(len(x)):
    if x[i]==str(x[i]):
        print(x[i])
    else:
        continue

a
b
fast
slow
Raghu
Liuren

## Question 15

In [88]:
range(3,12,2) # this is the range of 3-12 with the 12 exclusive and the step is by 2.

range(3, 12, 2)

In [89]:
list(range(3,12,2))

[3, 5, 7, 9, 11]

## Question 16

In [93]:
x=0 #sets base value of 0 for x
for i in range(31): #i will be values 0-30 including 30
    if i%3==0: #checks if i is divisible by 3
        x=x+i #if i is divisible by 3 adds it to x
    else:
        continue #tells the loop to continue to the next value if i is not divisible by 3
print(x) #prints the sum of all values 0-30 that are divisible by 3.

165

## Question 17

In [99]:
def pocket_change(pennies, nickels, dimes, quarters): #creates pocket change which takes 4 variables, pennies, nickels, dimes, quarters
    penny_value=pennies*.01 #generates the value of the pennies in dollars and cents
    nickel_value=nickels*.05 #generates the value of the nickels in dollars and cents
    dime_value=dimes*.1 #generates the value of the dimes in dollars and cents
    quarter_value=quarters*.25 #generates the value of the quarters in dollars and cents
    total_value=penny_value+nickel_value+dime_value+quarter_value #sums the values of the change
    print('$'+format(total_value, '.2f')) #prints a dollar sign with the total value of the change rounded to 2 decimal places.

In [106]:
pocket_change(1,2,3,4)

$1.41

## Question 18

In [131]:
def notsix(list_of_ints):
    x=[] #creates empty list
    for i in range(len(list_of_ints)): #runs for loop the number of times in the length of the list entered
        a=str(list_of_ints[i]) #a is created to be a string of the number in place i in the list
        if(int(a[0])%6)==0: #test if the first value of a number in position i in the list is divisible by 6
            continue #if the first number is divisible by 6 move to the next value in the list
        else:
            x.append(list_of_ints[i]) #appends the value at position i 
    print(x)

In [133]:
notsix([1234,6783,6,4321,9876])

[1234, 4321, 9876, 12]

## Question 19

In [134]:
old_list = [1234, 6783, 6, 4321, 9876]
new_list = [x for x in old_list if str(x)[0] !='6'] #this code takes all of the values that were in old x who's first integer is not 6 and creates a new list with them

In [135]:
new_list

[1234, 4321, 9876]

## Question 20

In [137]:
z={1: 'one', 2: 'two', 3: 'three'}
# z is a dictionary of length 3
# the 1 2 and 3 are keys. The 'one' 'two' and 'three' are values
# writing z[2] gets you the value of the key 2

In [140]:
z.keys() # gives me a list of all of the keys in dictionary z

SyntaxError: invalid syntax (<ipython-input-140-16375ffcf1bd>, line 2)

In [148]:
z.values() #gives me a list of all the values in dictionary z

dict_values(['one', 'two', 'three'])

In [149]:
list(z.keys()) # returns the keys of dictionary z in a list

[1, 2, 3]

In [150]:
list(z.values()) # returns the values of dictionary z in a list

['one', 'two', 'three']

In [151]:
list(z) # returns a list of the keys of dictionary z

[1, 2, 3]

## Question 21

In [1]:
120

120